<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host5</key>
	<string>http://mfyc.nat123.net:12478/mfyc</string>
	<key>host1</key>
	<string>http://112.74.112.220:8080/mfyc</string>
	<key>host</key>
	<string>http://123.57.143.71:8080/mfyc</string>
	<key>host3</key>
	<string>http://101.200.230.3:8080/mfyc</string>
	<key>fashionSquare_fashionSquareData</key>
	<string>/fashionSquare/fashionSquareData.do</string>
	<key>fashionSquare_hotRecommend</key>
	<string>/fashionSquare/fashionSquareHotData.do</string>
	<key>fashionSquare_fashionSquareNewData</key>
	<string>/fashionSquare/fashionSquareSaleData.do</string>
	<key>fashionSquare_fashionSquareHotData</key>
	<string>/fashionSquare/fashionSquareHotData.do</string>
	<key>fashionSquare_fashionSquareAllData</key>
	<string>/fashionSquare/fashionSquareAllData.do</string>
	<key>fashionSquare_myWardrobeData</key>
	<string>/fashionSquare/myWardrobeData.do</string>
	<key>fashionSquare_fashionRecommendData</key>
	<string>/fashionSquare/fashionRecommendData.do</string>
	<key>magicBag_IsBuy</key>
	<string>/magicBag/isBuyMagicPakage.do</string>
	<key>magicBag_IsMini</key>
	<string>/magicBag/isApplyMiniMagicPakage.do</string>
	<key>magicBag_ApplyMini</key>
	<string>/magicBag/applyMiniMagicPackage.do</string>
	<key>fashionSquare_fashionALLSearch</key>
	<string>/fashionSquare/mostSearch.do</string>
	<key>fashionSquare_SysCongfig</key>
	<string>/common/getSysConfig.do</string>
	<key>userCenter_getSysRecords</key>
	<string>/userCenter/getSysRecords.do</string>
	<key>userCenter_sendSms</key>
	<string>/userCenter/sendSms.do</string>
	<key>userCenter_register</key>
	<string>/userCenter/register.do</string>
	<key>userCenter_login</key>
	<string>/userCenter/login.do</string>
	<key>userCenter_getUserCenterData</key>
	<string>/userCenter/getUserCenterData.do</string>
	<key>userCenter_updateNickName</key>
	<string>/userCenter/updateNickName.do</string>
	<key>userCenter_getUserAddress</key>
	<string>/userCenter/getUserAddress.do</string>
	<key>userCenter_addAddress</key>
	<string>/userCenter/addAddress.do</string>
	<key>userCenter_delAddress</key>
	<string>/userCenter/delAddress.do</string>
	<key>userCenter_updateAddress</key>
	<string>/userCenter/updateAddress.do</string>
	<key>userCenter_bindTel</key>
	<string>/userCenter/bindTel.do</string>
	<key>userCenter_fogetPwd</key>
	<string>/userCenter/fogetPwd.do</string>
	<key>userCenter_updateUserpic</key>
	<string>/userCenter/updateUserpic.do</string>
	<key>userCenter_logout</key>
	<string>/userCenter/logout.do</string>
	<key>magicBag_getMagicMenu</key>
	<string>/magicBag/getMagicMenu.do</string>
	<key>magicBag_wornConfirm</key>
	<string>/magicBag/wornConfirm.do</string>
	<key>magicBag_confirmWorn</key>
	<string>/magicBag/confirmWorn.do</string>
	<key>fashionSquare_saveTestResult</key>
	<string>/fashionSquare/saveTestResult.do</string>
	<key>fashionSquare_addWardrobe</key>
	<string>/fashionSquare/addWardrobe.do</string>
	<key>fashionSquare_addAbanWardrobe</key>
	<string>/fashionSquare/addAbanWardrobe.do</string>
	<key>fashionSquare_myWardrobeAbanData</key>
	<string>/fashionSquare/myWardrobeAbanData.do</string>
	<key>fashionSquare_cleanMyWardrobe</key>
	<string>/fashionSquare/cleanWardrobe.do</string>
	<key>fashionSquare_cleanAbolishWardrobe</key>
	<string>/fashionSquare/cleanAbanWardrobe.do</string>
	<key>fashionSquare_fashionSearch</key>
	<string>/fashionSquare/fashionSearch.do</string>
	<key>fashionSquare_fashionDetail</key>
	<string>/fashionSquare/fashionDetail.do</string>
	<key>fashionSquare_fashionAssorts</key>
	<string>/fashionSquare/fashionAssorts.do</string>
	<key>fashionSquare_fashionSizeTable</key>
	<string>/fashionSquare/fashionSizeTable.do</string>
	<key>fashionSquare_periodicalDetail</key>
	<string>/fashionSquare/periodicalDetail.do</string>
	<key>userCenter_addCollects</key>
	<string>/userCenter/addCollects.do</string>
	<key>userCenter_delCollects</key>
	<string>/userCenter/delCollects.do</string>
	<key>userCenter_getMagicRecords</key>
	<string>/userCenter/getMagicRecords.do</string>
	<key>userCenter_magicPageData</key>
	<string>/userCenter/magicPageData.do</string>
	<key>userCenter_saveFeedback</key>
	<string>/userCenter/saveFeedback.do</string>
	<key>userCenter_thirdRegister</key>
	<string>/userCenter/thirdRegister.do</string>
	<key>userCenter_getUserCollects</key>
	<string>/userCenter/getUserCollects.do</string>
	<key>magicBag_isFirstBuy</key>
	<string>/magicBag/isFirstBuy.do</string>
	<key>magicBag_enterMagic</key>
	<string>/magicBag/enterMagic.do</string>
	<key>magicBag_startMagicPackage</key>
	<string>/magicBag/startMagicPackage.do</string>
	<key>magicBag_confirmAddress</key>
	<string>/magicBag/confirmAddress.do</string>
	<key>magicBag_selectUserMirrorShow</key>
	<string>/magicBag/selectUserMirrorShow.do</string>
	<key>magicBag_saveMirrorShow</key>
	<string>/magicBag/saveMirrorShow.do</string>
	<key>magicBag_getMagicHistoryList</key>
	<string>/magicBag/getMagicHistoryList.do</string>
	<key>magicBag_returnMagicPackage</key>
	<string>/magicBag/returnMagicExpress.do</string>
	<key>magicBag_confirmReturnAddress</key>
	<string>/magicBag/confirmReturnAddress.do</string>
	<key>magicBag_getEvaluateList</key>
	<string>/magicBag/getEvaluateList.do</string>
	<key>magicBag_evaluate</key>
	<string>/magicBag/evaluate.do</string>
	<key>magicBag_payBefore</key>
	<string>/magicBag/payBefore.do</string>
	<key>magicBag_weixinPayRequest</key>
	<string>/pay/weixinPayRequest.do</string>
	<key>magicBag_getDailyRecord</key>
	<string>/magicBag/getDailyRecord.do</string>
	<key>magicBag_magicDailyRecord</key>
	<string>/magicBag/magicDailyRecord.do</string>
	<key>magicBag_delMirrorShow</key>
	<string>/magicBag/delMirrorShow.do</string>
	<key>magicBag_BuyDate</key>
	<string>/magicBag/buyPageData.do</string>
	<key>magicBag_SaveEx</key>
	<string>/magicBag/savePickExpressNumbser.do</string>
	<key>fashionSquare_deleFashion</key>
	<string>/fashionSquare/deleFashion.do</string>
	<key>fashionSquare_returnWardrobe</key>
	<string>/fashionSquare/returnWardrobe.do</string>
	<key>userCenter_updateDefaultAddress</key>
	<string>/userCenter/updateDefaultAddress.do</string>
	<key>fashionSquare_getStartImage</key>
	<string>/fashionSquare/getStartImage.do</string>
	<key>magicBag_verInvitationCode</key>
	<string>/magicBag/verInvitationCode.do</string>
	<key>magicBag_selectMagicMenu</key>
	<string>/magicBag/selectMagicMenu.do</string>
</dict>
</plist>
